body {
    background-color: black;
}

.imgplus{
    background-color: red;
     position: absolute;
    margin-left : 90px ;
    margin-top: 9px;
    padding: 8px;
    border-radius: 5px;

}

.maiin {
    width: 300px; 
    margin: 0 auto;
    background-color: rgb(236, 247, 243);
    padding: 10px;
}
.box1 {
    flex:1 ; 
    margin: 10px 30px;
    padding: 5px;
  
} 

.box2 {
    flex:1 ; 
    margin: 5px 5px 5px 30px;
    padding: 15px;
    box-shadow: 0px 2px 10px rgb(102, 198, 236);
   
}
.box2righ {
    flex:1 ; 
    margin: 5px;
    padding: 15px;
    box-shadow: 0px 2px 10px rgb(102, 198, 236);
}

.colorpoint{
    position: absolute; 
    
    border-radius: 5px;
    margin-left : 90px;
}

.imgflash{
    padding-top: 30px;
    
}

.work{
    
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    background: rgb(248, 247, 246); 
}